/*html {
    background-color: #FFC0CB; 
}

body {
  font-family: "Roboto", Arial, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
  background-color: #FFC0CB;
  /* Rose color */
  /*
  background-image: url('tumblr_4c30f2683fd89ef3c3be77624367ab2c_4f22e2e1_500.gif');
  background-repeat: repeat;
  background-position: center center;
  background-attachment: fixed;
  */
}

.hero h1,
.services h2,
.gallery h2,
.contact h2,
.footer h2 {
  /* 
  font-family: "Playfair Display", serif; 
  */
}

header {
/*  background-color: #FFC0CB;*/
/*  opacity: 0.23;*/
  padding: 20px;
  text-align: center;
  /* 
  text-color:#ffffff;
  background-image: url('');
  background-image: url('jan-kopriva-f17PV9v8xOw-unsplash.jpg');
  */
  background-size: cover;
  background-position: center;
}

/* animations */

.btn,
nav ul li a {
  transition: background-color 0.3s ease;

    /* Apply sticky positioning to the navigation bar */  
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px; /* Add this line */

    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    font-size: 18px;
}

nav ul li:first-child {
    margin-top: 4px; /* Adjust this value as needed */
}

.btn:hover,
nav ul li a:hover {
  background-color: #555;
  color: #fff;
}

.service img,
.image-grid img {
  transition: transform 0.3s ease;
}

.service img:hover,
.image-grid img:hover {
  transform: scale(1.1);
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
  background-color: #fff;
  /*  
  background-image: url('alex-bertha-Jyg7xHRmXiU-unsplash.jpg'); 
  */
  background-size: cover;
  background-position: center;
}

.hero {
/*  background-color: #FFC0CB;*/
/*ffc4c0*/
/*  text-align: center;*/

/* Add padding to the left and right */
/*  padding: 100px 20px; */

/*  opacity: 0.23;*/

/*    background-color: #eb00b04a;*/
  /*  
  background-color: #ADB5BD; 
  */
/*  background-size: cover;*/
/*  background-position: center;*/
/*  color: #000;*/
}



.hero h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 100px;
  transition: background-color 0.3s ease;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
    width: 100%; /* Adjust the width as needed */
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  padding: 5px 10px;
  font-size: 18px; /* Adjust the font size as needed */
}

.btn:hover {
  background-color: #555;
}

.services {
  padding: 50px 0;
  text-align: center;
}

.services h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.service-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.service {
  width: 300px;
  margin: 20px;
  padding: 20px;

  background-color: #f9f9f9;

/*  background-color: #FFB1BB;*/
/*pink*/

/*  background-color: #D2B48C;*/
/*brown*/

/*  background-color: #f9f9f9;*/
/*mostly white (original)*/

  border-radius: 5px;
  text-align: center;
}

.service img {
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
  border-radius: 50%;
}

.gallery {
  padding: 50px 0;
  text-align: center;
}

.gallery h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.image-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-grid img {
  width: 200px;
  height: 200px;
  margin: 10px;
  object-fit: cover;
  border-radius: 5px;
}

.contact {
  padding: 50px 0;
  text-align: center;
}

.contact h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.contact form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact input,
.contact textarea {
  width: 300px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.contact button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact button:hover {
  background-color: #555;
}

.footer {
/*  background-color: #FFC0CB;*/
  padding: 20px;
  text-align: center;
}

.contact-info a i {
  font-size: 24px;
  color: #333; /* Replace with your desired color */
  margin-right: 10px; /* Adjust the value to increase or decrease the space */
}

.intro-text {
  font-size: 18px;
}




/*This will set the font size to 18 pixels for devices with a maximum width of 768 pixels (typically mobile devices).*/
@media (max-width: 768px) {


/*test -- ADD ALL FROM BELOW MEDIA QUERY, HERE! AND TEST ON IPHONE!*/
 h1 {
/*    font-size: 36px;*/
    font-size: 28px;

  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
  }


/**/

  body {
    font-size: 18px;
  }

  .hero {
    padding: 50px 20px;
  }
  
  .hero h1 {
/*    font-size: 24px;*/
    font-size: 30px;

    margin-bottom: 10px;
  }
  
  .intro-text {
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .btn {
    font-size: 14px;
    padding: 8px 16px;
    margin-bottom: 5px
  }
}





/* Media Queries for Mobile Devices */
@media only screen and (max-width: 600px) {
  /* Adjustments for smaller screens */

  /* Increase font sizes for better readability */
  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
  }

  /* Reduce padding and margins for a more compact layout */
  .container {
    padding: 10px;
  }

  .hero {
    padding: 50px;
  }

  .about {
    padding: 20px;
  }

  .contact {
    padding: 20px;
  }

  /* Modify the navigation to a vertical layout */
  nav ul li {
    display: block;
    margin: 10px 0;
  }

  /* Adjust the size of the hero image */
  .hero {
    background-size: contain;
    padding: 50px 10px;
  }

  .hero h1 {
    font-size: 30px;
    margin-bottom: 10px;
  }

  .hero p {
    font-size: 18px;
    margin-bottom: 20px;
  }

  /* Modify the contact form to stack the fields vertically */
  .contact form input,
  .contact form textarea {
    width: 100%;
    margin-bottom: 10px;
  }

  /* Adjust the size of the footer */
  footer {
    padding: 10px;
  }
}


/*was in HTML doc before, moved to bottom of CSS here*/

    .btn-blue {
      background-color: blue;
      color: white;
    }

  .go-to-top {
      position: fixed;
      bottom: 20px;
      right: 20px;
      z-index: 9999;
      display: none;
    }


body.menu-open {

/* IF YOU WANT TO DISABLE SCROLLING WHEN MENU IS OPEN */
/*  overflow: hidden;*/

}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 9999; /* Controls the stacking order of elements */
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 250px;
  transform: translateX(100%); /* Initially moves the menu off-screen */
  background-color: white;
  padding: 20px;
  transition: transform 0.3s ease-in-out; /* Adds a smooth transition effect */
  z-index: 10000; /* Controls the stacking order of elements */
}

body.menu-open .menu-overlay {
  display: block; 
  /* Shows the menu overlay when the menu is open */
}

body.menu-open .menu {
  transform: translateX(0); /* Moves the menu into the visible area */
}

.menu {
  /* display: flex; */ 
  /* Uncomment if you want to use flexbox for the menu items */

  list-style: none;
}

.menu li {
/*  margin-right: 20px;*/
}

.hamburger-menu {
  /* COMMENT OUT IF YOU WANT TO SHOW HAMBURGER MENU ON WEB */
  
  display: none; /* Hides the hamburger menu by default */

  cursor: pointer;
  position: fixed;
  top: 20px; /* Adjust this value as needed */
  right: 24px; /* Adjust this value as needed */
  z-index: 9999; /* Make sure the hamburger menu appears above other elements */
}

.hamburger-menu {
  /* COMMENT OUT IF YOU WANT TO SHOW HAMBURGER MENU ON WEB */
  
  display: none; /* Hides the hamburger menu by default */
  
  cursor: pointer;
  position: fixed;
  top: 20px; /* Adjust this value as needed */
  right: 24px; /* Adjust this value as needed */
  z-index: 9999; /* Make sure the hamburger menu appears above other elements */
}


.bar {
  width: 25px;
  height: 3px;
  background-color: #000;
  margin: 5px 0;
}

@media (max-width: 768px), (min-width: 789px) {
/*@media (max-width: 768px) {*/
  .menu {
    display: none; 
    /* Hides the menu on screens smaller than 768px */
  }

  .menu.show {
    display: flex;
    flex-direction: column;
/*    align-items: center;*/
    background-color: lightgray;
/*    justify-content: space-between; */
    /* Align items horizontally */

/*    justify-content: flex-start;*/
/*    justify-content: flex-end;*/
/*    justify-content: center;*/
/*    justify-content: space-between;*/
/*    justify-content: space-around;*/
/*    justify-content: space-evenly;*/
}

.hamburger-menu {
    display: block; /* Shows the hamburger menu on screens smaller than 768px */
  }
}

/*
.hamburger-menu-close {
  display: none;
  cursor: pointer;
  position: fixed;
  top: 20px;
  right: 24px;
  z-index: 9999;
}*/

/*.hamburger-menu-close .bar {
  width: 25px;
  height: 3px;
  background-color: #000;
  margin: 5px 0;
}
*/
/*        .watermark {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: rgba(0, 0, 0, 0.5);
            font-size: 24px;
        }*/
/*

Diables ALL clicking.
    body {
        pointer-events: none;
    }
        
*/